.korean {
  font-family: 'Nanum Gothic', serif;
}

.discussiontable {
  font-size:13px;
  margin-left: 20px;
}

.jpnkor {
  font-family:
        'Open Sans', Georgia,
        "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN",
        SourceHanSansJP-Regular
}