.hanjatable {
  margin:15px;
  font-size:13px;
  // background-color: #F0F8FF;
}

.topicbold {
  font-size:15px;
  font-weight: bold;
}

.newhanja{
  text-align:right;
}

table,th,td {
  border:1px solid black;
}

.topic {
  margin:15px;
  // background-color: #F5F5DC;
  font-size: 13px;
}


.currentaffairs {
 margin:15px;
 // background-color: #F0FFF0;
 font-size: 13px;
}

.korean {
  font-family: 'Nanum Gothic', serif;
}

.jpnkor {
  font-family:
        'Open Sans', Georgia,
        "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN",
        SourceHanSansJP-Regular
}